<!DOCTYPE html>
<html>
	<head>
		<title>Query Auto Correction</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

		<style>
			.big-title {
				color: red;
				margin-top: 100px;
			}

			.corrected-query {
				color: blue;
				font-style: italic;
				font-weight: bold;
				margin-left: 10px;
			}

			#input-text-box {
				margin-top: 75px;
			}

			#input-query {
				height: 50px;
				font-size: 20px;
			}

			#suggestion {
				display: None;
				margin-top: 50px;
			}

		</style>
	</head>
	<body>
		<div class="container-sm">
			<div class="big-title"><h1 align="center">Tự động sửa lỗi chính tả cho truy vấn tìm kiếm</h1></div>
			<div class="row" id="input-text-box">
				<input type="text" id="input-query" class="form-control input-group-lg rounded-pill" placeholder="Nhập cụm từ tại đây (Nhấn Enter để sửa lỗi)">
			</div>
		</div>
		<div id="suggestion" class="container-sm">
			<!-- <div class="d-block">
				<label class="title"><h3>Corrected</h3></label>
				<label class="corrected-query" id="corrected-result"></label>
			</div>
			<div class="d-block">
				<label class="title"><h3>Diacritic Added</h3></label>
				<label class="corrected-query" id="diacritic-added-result"></label>
			</div>	 -->
			<label><h3>Kết quả sửa lỗi</h3></label>
			<label class="corrected-query" id="corrected-result"></label>
		</div>

		<script type="text/javascript">
			function send_request(){
			var query = document.getElementById("input-query").value;
			var query_obj = {"query": query};
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() { 
				if (this.readyState == 4 && this.status == 200) {
					var response = JSON.parse(this.responseText);
					var result = response['corrected']['result'];
					
					document.getElementById("corrected-result").innerHTML = "<h3>" + result + "</h3>";
					document.getElementById("suggestion").style.display = "block";
					
					console.log(response['corrected']['result']);
					console.log(response['corrected']['prob']);
				}
			};
			xhttp.open("POST", "/correct", true);
			xhttp.setRequestHeader("content-type", "application/json");
			xhttp.send(JSON.stringify(query_obj));
		}

		window.addEventListener("keypress", function(e) {
			if (e.keyCode == 13){
			  send_request();
			}
		})
		</script>
	</body>
</html>